@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url(href= "https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url(href= "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background: #181818;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 1.6rem;
  color: white;
}

h1 {
  font-size: 8rem;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-size: 4.8rem;
  color: white;
  display: inline-block;
}

h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: white;
  margin-top: 8rem;
}

/* Intro video styles */
.intro-video {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text2 h1 {
  color: white;
  font-size: 6.4rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1rem;
}

.slider {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

.main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 10vh;
  width: 90%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-head .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10rem;
  flex: 1 1 10rem;
}

.main-head .logo a {
  margin: 2rem;
  font-size: 1.6rem;
  color: white;
  font-weight: 200;
}

.main-head .logo a:hover {
  text-transform: uppercase;
  color: #0cb9e4;
}

.main-head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex: 1 1 40rem;
  -webkit-box-flex: 1;
  flex: 1 1 40rem;
  font-size: 1.2rem;
  font-weight: 200;
}

.main-head .btn-contact {
  background-color: white;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.main-head .btn-contact:hover {
  background-color: black;
  color: white;
}

.main-head .btn-contact:focus {
  color: black;
}

nav li a:hover {
  text-transform: uppercase;
  color: #0cb9e4;
}

.name:hover {
  text-transform: uppercase;
}

.logo:hover {
  color: #0cb9e4;
}

.webgl {
  position: absolute;
  top: 10%;
  left: 0;
  outline: none;
  mix-blend-mode: exclusion;
  z-index: 0;
}

.container {
  height: 100vh;
  margin-top: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
}

.hello:hover {
  color: #0cb9e4;
}

.title {
  color: transparent;
  font-size: 3.2rem;
  -webkit-text-stroke: 1px white;
}

.media-title {
  display: inline-block;
  color: transparent;
  font-size: 2.4rem;
  -webkit-text-stroke: 1px white;
}

.media-title:hover {
  -webkit-text-stroke: 1px #0cb9e4;
}

.connect1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.recent {
  display: inline-block;
  color: transparent;
  font-size: 5.6rem;
  -webkit-text-stroke: 1px white;
}

.recent:hover {
  text-transform: uppercase;
  -webkit-text-stroke: 1px #0cb9e4;
}

.circle {
  max-width: 4rem;
  max-height: 4rem;
}

.circle {
  -webkit-animation: circleAnim 1.4s ease-in-out infinite alternate;
          animation: circleAnim 1.4s ease-in-out infinite alternate;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
}

.about-me {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  margin-left: 10rem;
  position: relative;
  margin-bottom: 20rem;
}

.about-me .info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.about-me .about-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 2;
  font-size: 1.6rem;
}

.luis-pic {
  width: 60rem;
  height: 60rem;
  max-width: 55rem;
  max-height: 70rem;
  margin-top: -8rem;
}

.rocket {
  max-width: 10rem;
  max-height: 10rem;
  position: absolute;
  top: 0;
  right: 0;
}

.spare {
  max-width: 10rem;
  max-height: 10rem;
  position: absolute;
  top: -0%;
  left: 50%;
}

.spare {
  -webkit-animation: spareAnim 1.4s ease-in-out infinite alternate;
          animation: spareAnim 1.4s ease-in-out infinite alternate;
}

@-webkit-keyframes spareAnim {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spareAnim {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.rocket {
  -webkit-animation: rocketAnim 1.4s ease-in-out infinite alternate;
          animation: rocketAnim 1.4s ease-in-out infinite alternate;
}

@-webkit-keyframes rocketAnim {
  from {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes rocketAnim {
  from {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

img {
  width: 100%;
  height: 100%;
}

.about-pic {
  margin-top: 4rem;
  width: 60rem;
  height: 70rem;
  max-width: 60rem;
  max-height: 70rem;
}

.about-pic:hover {
  -webkit-transform: skewY(7deg) scale(0.95, 0.95);
          transform: skewY(7deg) scale(0.95, 0.95);
  /* Firefox 16+, IE 10+, Opera */
}

.work-title {
  margin-left: 10rem;
  font-size: 4.8rem;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8rem;
          column-gap: 8rem;
  margin-left: 10rem;
  row-gap: 4rem;
}

.transition3 {
  position: relative;
}

.transition2 {
  position: relative;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay1 {
  position: absolute;
  bottom: 80%;
  right: 40%;
  /* Black see-through */
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.overlay1 p {
  font-size: 2.4rem;
}

.overlay {
  position: absolute;
  bottom: 80%;
  right: 40%;
  /* Black see-through */
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.overlay p {
  font-size: 2.4rem;
}

.overlay2 {
  position: absolute;
  bottom: 80%;
  right: 40%;
  /* Black see-through */
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.overlay2 p {
  font-size: 2.4rem;
}

.overlay3 {
  position: absolute;
  bottom: 80%;
  right: 40%;
  /* Black see-through */
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.overlay3 p {
  font-size: 2.4rem;
}

/* When you mouse over the container, fade in the overlay title */
.transition2:hover .overlay1 {
  opacity: 1;
}

.transition3:hover .overlay {
  opacity: 1;
}

.transition4:hover .overlay2 {
  opacity: 1;
}

.transition5:hover .overlay3 {
  opacity: 1;
}

.work-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-top: 1rem;
}

.more:hover {
  text-transform: uppercase;
  color: #0cb9e4;
}

.recent-work {
  font-size: 4rem;
  margin-top: 40rem;
}

.view-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
  margin-bottom: 20rem;
}

.all-work:hover {
  text-transform: uppercase;
  color: #0cb9e4;
}

.social {
  min-height: 10vh;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

footer {
  min-height: 10vh;
  padding: 0% 5%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

.social-icons1 {
  margin-right: 3rem;
  width: 3em;
  height: 3rem;
}

.social-icons1,
.social-icons2 {
  margin-bottom: 8rem;
}

.social-icons2 {
  width: 3em;
  height: 3rem;
}

.social-icons1:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.social-icons2:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.connect {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  margin-top: 8rem;
}

/*Media query for tablets and mid sized screens section  */
@media only screen and (max-width: 768px) {
  .doodles2 {
    display: none;
  }
  .doodles3 {
    display: none;
  }
  .luis-pic {
    max-width: 40rem;
  }
  br {
    display: none;
  }
  h2 {
    font-size: 4rem;
  }
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0rem;
  }
  .work-title {
    margin-left: 0rem;
    text-align: center;
  }
}

@media only screen and (max-width: 620px) {
  .luis-pic {
    display: none;
  }
  br {
    display: none;
  }
  .rocket {
    display: none;
  }
  .spare {
    display: none;
  }
}

/*Media query for small and mid sized phones section  */
@media only screen and (max-width: 425px) {
  .doodles2 {
    display: none;
  }
  .doodles3 {
    display: none;
  }
  .overlay {
    right: 0;
  }
  .overlay1 {
    right: 0;
  }
  .overlay2 {
    right: 0;
  }
  .overlay3 {
    right: 0;
  }
  .main-head .logo a {
    display: none;
  }
  .logo {
    display: none;
  }
  .intro-text2 h1 {
    color: white;
    font-size: 5.6rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  .about-me {
    margin-left: 0rem;
    place-items: center;
    display: inline-block;
    text-align: center;
  }
  .about-me .media-title {
    display: block;
    text-align: center;
  }
  .about-pic {
    max-width: 35rem;
  }
  .social ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    margin-left: 0rem;
    text-align: center;
  }
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0rem;
  }
  .work-title {
    margin-left: 0rem;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .doodles {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 24%;
    right: 0%;
    bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */